<%= form_for :event do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :start %><br>
    <%= f.datetime_field :start %>
  </p>

  <p>
    <%= f.label :end %><br>
    <%= f.datetime_field :end %>
  </p>

  <p>
    <%= f.label :allDay %><br>
    <%= f.check_box :allDay, {}, "true", "false" %>
  </p>

   <p>
    <%= f.label :display_loaction %><br>
    <%= f.text_field :display_loaction %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

   <p>
    <%= f.label :url %><br>
    <%= f.datetime_field :url %>
  </p>

  <p>
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>